body {
	font-size: 130%;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

h1 {
	font: 175%em;
	text-align: center;
}

section {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
	box-sizing: border-box;
	border: black solid 1px;
}

.spec {
	position: relative;
	padding-right: 10px;
	padding-top: 50px;
}

.section-title {
	position: relative;
	top: 0px;
	overflow: auto;
	margin-right: 0%;
	margin-top: 0%; 
	width: 100px;
	float:right;	
	font: 125%em;
	box-sizing: border-box;
	text-align: center;
	border: black solid 1px;
}

#section1 {
	background-color: blue;
}

#section2 {
	background-color: red;
}

#section3 {
	background-color: gray;
}

#title1 {
	background-color: #007700;
	color: white;
}

#title2 {
	background-color:  #551100;
	color: white;
}

#title3 {
	background-color:  #002277;
	color: white;
}

@media (max-width: 767px) {
	.section-sd {
		width: 90%;
		float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section-md1 {
		width: 40%;
		float: left;
	}
	.section-md2 {
		width: 90%;
		float: left;
	}
}

@media (min-width: 992px) {
	.section-ld {
		width: 22%;
		float: left;
	}
}